:root {
    --primary-color: #85FFE4;
    /* aquamarine */
    --secondary-color: #4BC84B;
    /* lime green */
    --accent1-color: #8F4300;
    /* brown */
    --accent2-color: #BEDCFE;
    /* Uranian blue */
    --headinf-font: "PT Serif", sans-serif;
    --body-font: "PT Serif", sans-serif;
}

header {
    background-color: var(--primary-color);
    color: var(--accent2-color);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--body-font);
    color: var(--accent1-color);
}

header,
main,
footer {
    width: 840px;
    margin: 0 auto;
}

h1,
h2 {
    font-family: var(--headinf-font);
    color: var(--primary-color);
}

nav,
p,
section,
article {
    margin: 16px;
    padding: 8px;
}

.socialmedia a {
    text-decoration: none;
}

.hero {
    position: relative;
}

.hero img {
    display: block;
    width: 100%;
    height: auto;
}

h1 {
    position: absolute;
    top: 20px;
    width: 100%;
    padding: 16px;
    text-align: center;
    opacity: 0.7;
    background-color: var(--accent1-color);
    color: #fff;
    /* white text - make sure there is enough contrast with the background-color */
}

.hero article img {
    float: right;
    width: 125px;
}