:root {
    --background-color: darkblue;
    --height-auto: auto;
    --text-aling: center;
    --solid: solid;
}

nav {
    background-color: var(--background-color);
    padding: 10px;
}

nav a {
    color: white;
    display: block;
    padding: 20px;
}

h1 {
    color: var(--background-color);
}

main img {
    width: 150px;
    height: var(--height-auto);
    border: 1px var(--solid) black;
    padding: 2px;
    box-shadow: 0 0 30px gray;
}

p {
    padding: 0;
}

main{
    max-width: 840px;
}
aside{
    width: 20rem;
    margin: 1rem;
    border: 1px var(--solid) rgb(0, 0, 0/0.2);
    padding: 1rem;
    background-color: #eee;
    color: #333;
    text-align: var(--text-aling);
}

aside img{
    width: 200px;
    height: var(--height-auto);
}

footer{
    margin-top: 15px;
    border-top: 1px var(--solid) #000;
    text-align: var(--text-aling);
}